---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=wM5WNdOgPkqPrlqScGLHfEpXi3VZV5iN&location=washington,dc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Sun, 17 Jan 2021 00:12:01 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"washington,dc"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Washington","adminArea5Type":"City","adminArea4":"District
        of Columbia","adminArea4Type":"County","adminArea3":"DC","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282772166","unknownInput":"","type":"s","latLng":{"lat":38.892062,"lng":-77.019912},"displayLatLng":{"lat":38.892062,"lng":-77.019912},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=wM5WNdOgPkqPrlqScGLHfEpXi3VZV5iN&type=map&size=225,160&locations=38.892062,-77.019912|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-2045589433"}]}]}'
  recorded_at: Sun, 17 Jan 2021 00:12:01 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=b8f7654862de3832b5dde18c6cc1d254&exclude=minutely&lat=38.892062&lon=-77.019912
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.8921,"lon":-77.0199,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1610842321,"sunrise":1610799872,"sunset":1610835056,"temp":277.46,"feels_like":272,"pressure":1003,"humidity":65,"dew_point":271.67,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":4.63,"wind_deg":250,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1610841600,"temp":277.46,"feels_like":272.38,"pressure":1003,"humidity":65,"dew_point":271.67,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":4.09,"wind_deg":291,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.29},{"dt":1610845200,"temp":277.65,"feels_like":272.67,"pressure":1003,"humidity":67,"dew_point":272.19,"uvi":0,"clouds":95,"visibility":10000,"wind_speed":4.06,"wind_deg":279,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0},{"dt":1610848800,"temp":277.12,"feels_like":271.88,"pressure":1003,"humidity":71,"dew_point":272.44,"uvi":0,"clouds":66,"visibility":10000,"wind_speed":4.49,"wind_deg":273,"weather":[{"id":803,"main":"Clouds","description[...]
