---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=b8f7654862de3832b5dde18c6cc1d254&exclude=minutely&lat=38.8921&lon=-77.0199
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.8921,"lon":-77.0199,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1610841877,"sunrise":1610799872,"sunset":1610835056,"temp":277.45,"feels_like":271.99,"pressure":1003,"humidity":65,"dew_point":271.66,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":4.63,"wind_deg":250,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}]},"hourly":[{"dt":1610841600,"temp":277.45,"feels_like":272.2,"pressure":1003,"humidity":65,"dew_point":271.66,"uvi":0,"clouds":90,"visibility":10000,"wind_speed":4.33,"wind_deg":282,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.57},{"dt":1610845200,"temp":277.53,"feels_like":272.17,"pressure":1003,"humidity":67,"dew_point":272.09,"uvi":0,"clouds":92,"visibility":10000,"wind_speed":4.58,"wind_deg":285,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04n"}],"pop":0.13},{"dt":1610848800,"temp":276.96,"feels_like":271.57,"pressure":1004,"humidity":72,"dew_point":272.47,"uvi":0,"clouds":65,"visibility":10000,"wind_speed":4.71,"wind_deg":279,"weather":[{"id":803,"main":"Clouds","descript[...]
