---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<WHY_ARE_YOU_LOOKING_AT_THIS>&location=washington,dc
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 18 Jan 2021 19:15:05 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2021 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2021 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"washington,dc"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Washington","adminArea5Type":"City","adminArea4":"District
        of Columbia","adminArea4Type":"County","adminArea3":"DC","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282772166","unknownInput":"","type":"s","latLng":{"lat":38.892062,"lng":-77.019912},"displayLatLng":{"lat":38.892062,"lng":-77.019912},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<WHY_ARE_YOU_LOOKING_AT_THIS>&type=map&size=225,160&locations=38.892062,-77.019912|marker-sm-50318A-1&scalebar=true&zoom=12&rand=880661471"}]}]}'
  recorded_at: Mon, 18 Jan 2021 19:15:05 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=<QUIT_IT>&exclude=minutely&lat=38.892062&lon=-77.019912&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":38.8921,"lon":-77.0199,"timezone":"America/New_York","timezone_offset":-18000,"current":{"dt":1610997307,"sunrise":1610972620,"sunset":1611007987,"temp":43.86,"feels_like":31.44,"pressure":1011,"humidity":33,"dew_point":18.36,"uvi":1.03,"clouds":75,"visibility":10000,"wind_speed":12.66,"wind_deg":250,"wind_gust":20.71,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}]},"hourly":[{"dt":1610996400,"temp":43.86,"feels_like":32.25,"pressure":1011,"humidity":33,"dew_point":18.36,"uvi":1.03,"clouds":75,"visibility":10000,"wind_speed":11.23,"wind_deg":279,"weather":[{"id":803,"main":"Clouds","description":"broken
        clouds","icon":"04d"}],"pop":0},{"dt":1611000000,"temp":43.38,"feels_like":32.45,"pressure":1011,"humidity":45,"dew_point":24.46,"uvi":0.56,"clouds":87,"visibility":10000,"wind_speed":11.14,"wind_deg":286,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0},{"dt":1611003600,"temp":42.44,"feels_like":32.63,"pressure":1013,"humidity":53,"dew_point":27.18,"uvi":0.19,"clouds":89,"visibility":10000,"wind_speed":9.78,"wind_deg":288,"weather":[{"id":804,"main":"Clouds","description":[...]
